<header>
    <ul class="navList">
        <li class="navListItem">
            <button class="navListItemBtn" type="button" routerLink="/notes">Notes</button>
        </li>
        <li class="navListItem">
            <button class="navListItemBtn" type="button" routerLink="/about">About</button>
        </li>
    </ul>
    <button class="themeBtn" (click)="toggleTheme()">
        <img src="https://cdn.icon-icons.com/icons2/2248/PNG/512/theme_light_dark_icon_137104.png" alt="" />
    </button>
</header>