.noteCardContainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 15px 2px rgba(#000, 0.068);
    transition: box-shadow 0.2s ease-out;
    position: relative;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 4px rgba(#000, 0.068);
        
        .xButton {
            opacity: 1;
            transition-delay: 0.35s;
            transform: scale(1);
        }
    }
    .noteCardContentWrapper {
        text-decoration: none;
        .noteCardContent {
            padding: 25px;
            max-width: 300px;

            .noteCardTitle {
                font-size: 22px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                color: purple;
            }
            .noteCardBody {
                color: #000;
                position: relative;
                max-height: 80px;
                overflow: hidden;
                .fade-out-trancation {
                    position: absolute;
                    pointer-events: none;
                    bottom: 0;
                    height: 50%;
                    width: 100%;
                    background: linear-gradient(to bottom, rgba(#fff, 0) 0%, rgba(#fff, 0.8) 50%, #fff 100%);
                }
            }
        }
    }
    .xButton {
        position: absolute;
        top: 12px;
        right: 12px;
        border-radius: 4px;
        background-color: #d36565;
        height: 18px;
        width: 18px;
        font-size: 15px;
        color: #fff;
        text-align: center;
        opacity: 0;
        transition: opacity 0.2s ease-out, transition 0.2s ease-out;
        transform: scale(0.35);

        &:hover {
            background-color: darken(#d36565, 15%);
        }

        &:active {
            background-color: darken(#d36565, 25%);
        }
    }
}
